.App {
  margin: 0 auto;
}
.tabBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn {
  background-color: blueviolet;
  width: 10%;
  padding: 20px;
  color: whitesmoke;
  font-size: 16pt;
}
.contentBar {
  height: 400px;
}
.contentBar p {
  width: 80%;
  height: 50%;
  border: 2px solid black;
  /* text-align: center; */
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24pt;
}
@keyframes clicked {
  0%   {background-color: blueviolet;}
  25%  {background-color: green;}
  50%  {background-color: blue;}
  100% {background-color: black;}
}
